#start1 {
  width: 265pt;
  height: 157pt;
  font-family: "Arial-BoldMT";
  align-content: center;
  font-size: 140pt;
  color: rgb(42, 52, 60);
  left: 558pt;
  top: 133pt;
}

#header1 {
  font-size: 30px;
  position: relative;
  text-align: center;
}

#search-box {
  width: 1000px;
  height: 30px;
}

.hidden {
  display: none;
}
