<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<section class="content">
  <header>
    {% block header %}
    <h1 id="search-header1">{% block title %}Etsi tietokirja{% endblock %}</h1>
    {% endblock %}
  </header>
  {% block content %}
  <br />
  <form action = "/term_result" method = "POST" class="search-field">
    <input type="text" name="searchfield" id="search-box" placeholder="Kirjan nimi">
    <input type="image" src="{{ url_for('static', filename='images/eteenpain.jpg')}}" alt="Etsi" value="Etsi" id="submit-box">
  </form>
  <br />
  <!--<a href="/" id="go-to-start2">Takaisin alkuun</a>-->
  <br />
  <br />
  <h1 class="search-category">Etsi tietokirjan kategoria</h1>
  <br />
    <a href="/guidance_category?category=Taidekirjat&id=790" value="Taidekirjat" name="categoryname" class="w3-btn w3-green w3-round-large">
      <div id="arts">Taidekirjat</div>
      </a>
    <a href="/guidance_category?category=Matkailu&id=469" value="Matkailu" name="categoryname" class="w3-btn w3-green w3-round-large">
      <div id="travel">Matkailu</div>
    </a>
    <a href="/guidance_category?category=Keittokirjat&id=691.1" value="Keittokirjat" name="categoryname" class="w3-btn w3-green w3-round-large"><div id="cooking">Keittokirjat</div>
    </a>
    <br />
    <br />
    <br />
    <a href="/guidance_category?category=Kielet&id=850" value="Kielet" name="categoryname" class="w3-btn w3-green w3-round-large">
      <div id="languages">Kielet</div>
    </a>
    <a href="/guidance_category?category=Elämänkerrat&id=990" value="Elämänkerrat" name="categoryname" class="w3-btn w3-green w3-round-large">
      <div id="autobiography">Elämän-<br />kerrat</div>
    </a>
    <a href="/guidance_category?category=Historia&id=900" value="Historia" name="categoryname" class="w3-btn w3-green w3-round-large"><div id="history">Historia</div>
    </a>
  {% endblock %}
</section>
{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

<!-- tee js-file jonka includeed tahan, tarkistaa ootko iskeny tekstikenttaan mitaan-->
