<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <header>
    {% block header %}
    <h1 id="header1">{% block title %}Voit etsiä teoksia nimen tai kategorian perusteella!{% endblock %}</h1>
    {% endblock %}
  </header>
  {% block content %}
  Avoin haku
  <br />
  <form action = "http://localhost:5000/term_result" method = "POST">
    <input type="text" name="searchfield" size="80" id="search-box">
    <input type="submit" value="Etsi" id="submit-box">
  </form>
  <br />
  <br />
  <br />
  Kategoriat
  <br />
    <a href="http://localhost:5000/guidance_category?category=Taidekirjat&id=790" value="Taidekirjat" name="categoryname">Taidekirjat</a>
    <a href="http://localhost:5000/guidance_category?category=Matkailu&id=469" value="Matkailu" name="categoryname">Matkailu</a>
    <a href="http://localhost:5000/guidance_category?category=Keittokirjat&id=691.1" value="Keittokirjat" name="categoryname">Keittokirjat</a>
    <a href="http://localhost:5000/guidance_category?category=Kielet&id=850" value="Kielet" name="categoryname">Kielet</a>
    <a href="http://localhost:5000/guidance_category?category=Elämänkerrat&id=990" value="Elämänkerrat" name="categoryname">Elämänkerrat</a>
    <a href="http://localhost:5000/guidance_category?category=Historia&id=900" value="Historia" name="categoryname">Historia</a>
  {% endblock %}
</section>
{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

<!-- tee js-file jonka includeed tahan, tarkistaa ootko iskeny tekstikenttaan mitaan-->
